<link rel="stylesheet" href="css/index.css">

<div class="footer-padding">
  <div class=" container-fluid footer">
    <p> Copyright © reserves to Banke bardiya complex. <b>
        <script>
          document.write(new Date().getFullYear());
        </script>
      </b> </p>
  </div>
</div>

</body>

</html>
