<%- include('partials/header') %>
<div class="container">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card card-forauth">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST" autocomplete="off">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength="8"  placeholder="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required >
            </div>
            <div class="submitbtn"> <button type="submit" class="btn btn-primary">Register</button> </div>
          </form>

        </div>
      </div>
    </div>



  </div>
</div>

<%- include('partials/footer') %>
