<head>
  <meta charset="utf-8">
  <title>Thanks for submmitting your art </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Montserrat&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/index.css">
</head>

<%- include("partials/header"); -%>

<div class="success-msg-container">
  <div class="success_msg">
    <h3> Submitted successfully. Thank you for your submission. </h3>
  </div>

</div>




<%- include("partials/footer"); -%>
